In [1]:
# Question 01
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [3]:
# Sort the list and find the min and max age

#To Sort the list 
ages.sort()
print(ages)

#To find min age
min_age = ages[0]
print(min_age)

#To find maxx age
max_age = ages[-1]
print(max_age)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [6]:
# Add the min age and the max age again to the list

#Add min age
ages.append(min_age)

#Add max age
ages.append(max_age)

print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26, 19, 26, 19, 26]

In [8]:
# Find the median age 

if len(ages) % 2 == 0:
    median_age = (ages[int(len(ages) / 2)] + ages[int(len(ages) / 2) - 1]) / 2
else:
    median_age = ages[int(len(ages) / 2)]
    
print(median_age)

25.0

In [9]:
# Find the average age 

average_age = sum(ages) / len(ages)

print(average_age)

22.6875

In [10]:
# Find the range of the ages

range_age = max_age - min_age

print(range_age)

7

In [13]:
# Question 02

# Create an empty dictionary called dog

dog = {}

In [35]:
# Add name, color, breed, legs, age to the dog dictionary

dog = {'name':'Niko', 'color':'white', 'breed':'Golden Retriever', 'legs':4, 'age':3}

print(dog)

{'name': 'Niko', 'color': 'white', 'breed': 'Golden Retriever', 'legs': 4, 'age': 3}

In [40]:
# Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary

student  = {
    'first_name': 'Susan',
    'last_name': 'Connor',
    'gender': 'female',
    'age': 22,
    'marital status': 'single',
    'skills': ['baking', 'dancing'], 
    'country': 'USA', 
    'city': 'Chicago' 
}

print(student)

{'first_name': 'Susan', 'last_name': 'Connor', 'gender': 'female', 'age': 22, 'marital status': 'single', 'skills': ['baking', 'dancing'], 'country': 'USA', 'city': 'Chicago'}

In [29]:
# Get the length of the student dictionary

student_length = len(student)

print(student_length)

8

In [42]:
# Get the value of skills and check the data type, it should be a list

skills = student['skills']
is_skills_list = type(skills) == list 

print(skills)
print(type(skills))

['baking', 'dancing']
<class 'list'>

In [43]:
# Modify the skills values by adding one or two skills

skills.append('skating')
skills.append('singing')

print(skills)

['baking', 'dancing', 'skating', 'singing']

In [44]:
# Get the dictionary keys as a list

student_keys = list(student.keys())

print(student_keys)

['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city']

In [45]:
# Get the dictionary values as a list

student_values = list(student.values())

print(student_values)

['Susan', 'Connor', 'female', 22, 'single', ['baking', 'dancing', 'skating', 'singing'], 'USA', 'Chicago']

In [47]:
# Question 03

# Create a tuple containing names of your sisters and your brothers 

sisters_and_brothers = ('Sam', 'John', 'Jessica')

print(sisters_and_brothers)

('Sam', 'John', 'Jessica')

In [48]:
# Join brothers and sisters tuples and assign it to siblings

siblings = sisters_and_brothers + sisters_and_brothers

print(siblings)

('Sam', 'John', 'Jessica', 'Sam', 'John', 'Jessica')

In [49]:
# How many siblings do you have?

siblings_length = len(siblings)

print(siblings_length)

6

In [51]:
# Modify the siblings tuple and add the name of your father and mother and assign it to family_members

family_members = siblings + ('Craig', 'Trisha')

print(family_members)

('Sam', 'John', 'Jessica', 'Sam', 'John', 'Jessica', 'Craig', 'Trisha')

In [52]:
# Question 04

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print(it_companies)
print(A)
print(B)
print(age)

{'IBM', 'Google', 'Apple', 'Oracle', 'Facebook', 'Microsoft', 'Amazon'}
{19, 20, 22, 24, 25, 26}
{19, 20, 22, 24, 25, 26, 27, 28}
[22, 19, 24, 25, 26, 24, 25, 24]

In [53]:
# Find the length of the set it_companies

it_companies_length = len(it_companies)

print(it_companies_length)

7

In [54]:
# Add 'Twitter' to it_companies

it_companies.add('Twitter')

print(it_companies)

{'IBM', 'Google', 'Apple', 'Oracle', 'Facebook', 'Twitter', 'Microsoft', 'Amazon'}

In [55]:
# Insert multiple IT companies at once to the set it_companies

it_companies.update(['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'])

print(it_companies)

{'IBM', 'Google', 'Apple', 'Oracle', 'Facebook', 'Twitter', 'Microsoft', 'Amazon'}

In [56]:
# Remove one of the companies from the set it_companies

it_companies.remove('Oracle')

print(it_companies)

{'IBM', 'Google', 'Apple', 'Facebook', 'Twitter', 'Microsoft', 'Amazon'}

In [ ]:
# What is the difference between remove and discard

## `remove`` removes the first instance of the item and `discard` removes the item regardless of its position in the set

In [57]:
# Join A and B

joined_set = A.union(B)

print(joined_set)

{19, 20, 22, 24, 25, 26, 27, 28}

In [58]:
# Find A intersection B

intersection_set = A.intersection(B)

print(intersection_set)

{19, 20, 22, 24, 25, 26}

In [59]:
# Is A subset of B

is_subset = A.issubset(B)

print(is_subset)

True

In [60]:
# Are A and B disjoint sets

is_disjoint = A.isdisjoint(B)

print(is_disjoint)

False

In [61]:
# Join A with B and B with A

joined_set_AB = A.union(B)
joined_set_BA = B.union(A)

print(joined_set_AB)
print(joined_set_BA)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [62]:
# What is the symmetric difference between A and B

symmetric_difference = A.symmetric_difference(B)

print(symmetric_difference)

{27, 28}

In [ ]:
# Delete the sets completely

del A
del B

In [66]:
# Convert the ages to a set and compare the length of the list and the set.

ages_set = set(age)
ages_length = len(age)
ages_set_length = len(ages_set)

comparision = ages_length - ages_set_length

print(comparision)

3

In [68]:
# Question 05

# The radius of a circle is 30 meters.

radius = 30

# Calculate the area of a circle and assign the value to a variable name of area_of_circle

area_of_circle = 3.14 * radius ** 2

print(area_of_circle)

2826.0

In [69]:
# Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle

circum_of_circle = 2 * 3.14 * radius

print(circum_of_circle)

188.4

In [71]:
# Take radius as user input and calculate the area.

radius = int(input('Enter the radius of the circle: '))
area_of_circle = 3.14 * radius ** 2

print('The area of the circle is: ' + str(area_of_circle))

Enter the radius of the circle: 46
The area of the circle is: 6644.240000000001

In [72]:
# Question 06

# “I am a teacher and I love to inspire and teach people”

# How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

sentence = 'I am a teacher and I love to inspire and teach people'
words = sentence.split()
unique_words = set(words)
unique_words_length = len(unique_words)

print(unique_words_length)

10

In [73]:
# Question 07

# Use a tab escape sequence to get the following lines, 

# Name Age Country City
name = 'John'
age = 24
country = 'USA'
city = 'Kansas City'

print(name + '\t' + str(age) + '\t' + country + '\t' + city)

John	24	USA	Kansas City

In [74]:
# Asabeneh 250 Finland Helsinki

name = 'Asabeneh'
age = 250
country = 'Finland'
city = 'Helsinki'

print(name + '\t' + str(age) + '\t' + country + '\t' + city)

Asabeneh	250	Finland	Helsinki

In [79]:
# Question 08

radius = 10
area = 3.14 * radius ** 2

# Use the string formatting method to display the following: “The area of a circle with radius {radius} is {area} meters square.”

print(f'The area of a circle with radius {radius} is {area} meters square.')

The area of a circle with radius 10 is 314.0 meters square.

In [1]:
# Question 09

# Read input from user for number of students

N = int(input('Enter the number of students: '))

print(N)

Enter the number of students: 4
4

In [2]:
# Input weights (lbs.) of N students into a list

weights = []
for i in range(N):
    weights.append(int(input('Enter the weight of student ' + str(i + 1) + ': ')))
    
print(weights)

Enter the weight of student 1: 150
Enter the weight of student 2: 155
Enter the weight of student 3: 145
Enter the weight of student 4: 148
[150, 155, 145, 148]

In [3]:
# convert these weights to kilograms in a separate list using Loop

kilograms = []
for weight in weights:
    kilograms.append(weight * 0.453592)
    
print(kilograms)

[68.0388, 70.30676, 65.77083999999999, 67.131616]

In [ ]:
#Question 10 

#importing important python Libraries 
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 

#reading the dataset
dataframe=pd.read_csv("dataset.csv")
x= dataframe['Feature'].values
y= dataframe['Class'].values 
#dividing data equally into training and testing data 
from sklearn.model_selection import train_test_split 
features_tr, features_te, label_tr, label_te= train_test_split(x, y, random_state=0, train_size= 0.5 ) 
#reshaping the data feature and Labes into 2D array 
features_tr = np.array(features_tr).reshape(-1,1) 
features_te = np.array(features_te).reshape(-1,1) 
#Normalizing data 
from sklearn.preprocessing import StandardScaler 
normalization= StandardScaler() 
features_tr= normalization. fit_transform(features_tr) 
features_tes normalization. transform( features_te) 
#fiting the training data into classifier model 
from sklearn.neighbors import KNeighborsClassifier 
model= KNeighborsClassifier(n_neighbors=3 ) 
model .fit(features_tr, label_tr) 
#Predicting the test set result 
predict_class=model. predict(features_te) 
print(“Predicted Test Samples Output:”,predict_class)
from sklearn.preprocessing import StandardScaler 
normalization= StandardScaler() 
features_tr=normalization.fit_transform(features_tr) 
features_te=normalization.transform(features_te) 
#fiting the training data into classifier model 
from sklearn.neighbors import KNeighborsClassifier 
model= KNeighborsClassifier(n_neighbors=3)
model.fit(features_tr, label_tr) 
#Predicting the test set result 
predict_class= model.predict(features_te) 
print("Predicted Test Samples Output:",predict_class) 

#creating a confusion matrix 
from sklearn.metrics import confusion_matrix 
model _evaluation= confusion_matrix(label_te, predict_class) 
print("Confusion matrix:\n",model_evaluation) 
#finding model accuracy 
count=sum(sum(model_evaluation)) 
accuracy=(model_evalustion[0,0]+model_evaluation[1,1])/count 
print ('Accuracy =: ', accuracy) 
# finding model sensitivity 
sense = model_evaluation[0,0]/(model_evaluation[0,0]+model_evaluation[0,1)) 
print('Sensitivity =: ', sense ) 
#finding model specificity 
speci = model_evaluation[1,1]/(model_evaluation[1,0]+model_evaluation[1,1]) 
print('Specificity =: ', speci)